
.mortimer{
    position: absolute;
    margin: 70px 0px 0px 0px;
}
.card, .left-to-buy{
    svg{
        margin-top: 3px;
        margin-right: 5px;
    }
}
.clamp{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
ol, ul {
    list-style: disc;
    margin: 15px;
    padding: 0;
    p{
        margin-bottom: 12px;
        font-size: 0.8rem;
    }
}
nav, .footer{
    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
.footer{
    h2{
        font-weight: bold;
        padding-bottom: 12px;
    }
    ul li{
        padding-bottom: 9px;
    }
}
.prod-descrition{
    p{
        padding-bottom: 12px;
        font-size: 0.8rem;
    }
}
.menu-container{
    overflow-x: scroll;
    padding-bottom: 2px !important;
    li{
        min-width: 120px;
        line-height: 20px;
        min-width: fit-content;
        text-align: center;
    }
}
@media (max-width:650px)  {
    .slick-arrow{
        display: none !important ;
    }
    .forum, .user{
        display: none;
    }
    .mortimer{
        position: absolute;
        margin: 51px 0px 0px 0px;
        height: 90px;
    }
    .logo-part{
        height: 38px;
        margin-left: 75px;
    }
    .container-ico{
        svg{
            height: 25px;

        }
    }
    .menu-container{
        margin-left: -18px;
        background: #f2f4f6;
        li{
            padding: 9px 15px;
            font-size: 0.8rem;
            line-height: 0.8rem;
            background: #d8e1e6;
            border-radius: 90px;
            margin-right: 6px;
            margin-top: 9px;
            margin-bottom: 12px;
            &.underline{
                background-color: #3a7d3c;
                color: #fff;
            }
           
            a{
                font-size: 0.8rem;
                line-height: 0.8rem;
            }
        }
    }

}
